<% include layout/header.ejs %>

  <div class="container">
    <div id="content" class="content-help"  style="background-color : rgb(255, 255, 255); margin: 5px;">
    <h1 class="title-help">HƯỚNG DẪN MUA SẮM</h1>
      <div class="one-content-help">
            <b class="title-one-content-help" style="font-size:20px">
              I.I. Để mua hàng, quý khách không cần phải trực tiếp đến Showroom của chúng tôi mà có thể lựa chọn mua hàng trực tuyến bằng cách lựa chọn một trong các cách mua hàng sau:
            </b>
            <br>
            <br>
                      <div class= "word" style="font-size:16px ; ">
                      <b style= "font-size:16px">Cách 1 </b>Gọi đến số 0845503595 từ 8h sáng-8h tối (cả Chủ Nhật và Ngày Lễ) để đặt hàng. Với đội ngũ nhân viên chuyên nghiệp, giàu kinh nghiệm, chúng tôi luôn sẵn sàng phục vụ, tư vấn và hỗ trợ bạn mua được sản phẩm phù hợp.
                      <br>
                      <br <b>Cách 1</b>: Đặt hàng trực tuyến trên Website: FutureHub.com
                      <br>
            <br>
                          <b>Bước 1</b>: Truy cập website và chọn sản phẩm bạn muốn mua để mua
            <br>
            <br>
                          <b>Bước 2</b>: Nhấn vào sản phẩm bạn muốn mua, màn hình sẽ hiện ra các tùy chọn sau:
            <br>
                          <p>Nếu bạn muốn tiếp tục mua sắm: Nhấp vào Nơi mua và sau đó làm theo hướng dẫn</p>
            <br>
                          <b>Bước 3</b>: Chọn thông tin tài khoản thanh toán
            </div>
      </div>
      
      <br>    
    <div class="two-content-help" style= "font-size:16px">
      <b class="title-two-content-help" >
        II. Thanh toán
      </b>
      <br>
      Sau khi xác nhận đơn hàng, FutureHub sẽ giao hàng đến tận nơi, quý khách vui lòng nhận hàng và thanh toán cho nhân viên giao hàng. Miễn phí vận chuyển toàn quốc
      <br>
      <br>
      Các bên trong hợp đồng mua bán phải tuân thủ theo các quy định về nghĩa vụ của các bên trong giao dịch dân sự và các quy định về trách nhiệm được quy định tại Luật thương mại năm 2005 bao gồm: nghĩa vụ của bên bán và nghĩa vụ của bên mua. </div>
    <div class="three-content-help">
      <b class="title-three-content-help">
        <h3>III. Nghĩa vụ của Bên bán:</h3>
      </b>
      <div style="font-size: 17px">   
        1. Giao hàng đúng đối tượng và chất lượng: Bên bán phải giao hàng đúng đối tượng và chất lượng đã thỏa thuận trong hợp đồng và theo quy định của pháp luật.<br>
      <br>
      2. Giao đúng số lượng hàng hóa đã thỏa thuận trong hợp đồng: Bên bán phải giao đúng số lượng hàng hóa đã thỏa thuận, trường hợp bên bán giao sai số lượng, bên mua có quyền từ chối và trả lại cho bên bán. bán. Nếu không có khiếu nại thì coi như việc điều chỉnh số lượng hàng hóa đã được chấp nhận.
      <br>
      <br>
      3. Giao chứng từ kèm theo hàng hóa.
      <br>
      <br>
      4. Giao hàng đúng thời hạn và địa điểm
      <br>
      <br>
      5. Kiểm tra hàng hóa trước khi giao
      <br>
      <br>
      6. Nghĩa vụ bảo hành hàng hóa
      <br>
      <br>
      7. Nghĩa vụ bảo đảm quyền sở hữu hàng hóa
    </div>
    </div>
      <br>
    <div class="four-content-help" style="font-size: 17px">
      <b class="title-four-content-help">
        <h3>IV. Nghĩa vụ của bên mua:</h3>
      </b>
      1. Nhận hàng và thanh toán tiền
      <br>
    <li>Người mua có nghĩa vụ thanh toán tiền mua hàng và nhận hàng theo thỏa thuận. Thực hiện đúng phương thức thanh toán, thanh toán theo đúng trình tự, thủ tục đã thỏa thuận và theo đúng quy định của pháp luật.</li>
    <br>
    <li>Người mua vẫn phải thanh toán giá mua trong trường hợp hàng hóa bị mất mát, hư hỏng sau thời điểm rủi ro được chuyển từ người bán sang người mua, trừ trường hợp mất mát, hư hỏng do lỗi của người bán gây ra.</li>
      <br>
      2. Bảo đảm quyền sở hữu trí tuệ đối với hàng hóa. Nhìn chung, nghĩa vụ quan trọng nhất và hàng đầu của các bên vẫn là thực hiện nghiêm chỉnh các nội dung đã thỏa thuận trong hợp đồng, phù hợp với pháp luật và đạo đức xã hội.
      <br>
    </div>
   </div>
  </div>
<% include layout/footer.ejs %>



<style type="text/css">
  #categorymenu {
    display: none !important;
  }
</style>