
<!DOCTYPE HTML>
<html>
<head>
<title> Login form-FutureHub  </title>
<script src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fvi.pngtree.com%2Ffree-backgrounds-photos%2Fc%25C3%25B4ng-ngh%25E1%25BB%2587&psig=AOvVaw2SKp1ihHohcF-3kL2_xHcB&ust=1734638954985000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKD46P2QsooDFQAAAAAdAAAAABAh"></script>
<!-- Custom Theme files -->
<link href="css/style1.css" rel="stylesheet" type="text/css" media="all"/>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Classy Login form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!--header start here-->
<div class="header">
		<div class="header-main">
		       <h1 >ĐĂNG NHẬP</h1>
			<div class="header-bottom">
				<div class="header-right w3agile">
					
					<div class="header-left-bottom agileinfo">
					
                            <% if(error != ''){%>
                            <div class="alert alert-danger">
                                <%= error%>
                            </div>
                            <%}%>
						
					 <form action="<%= callbackUrl %>" method="post">
						<input type="text"  name="email" type="email" autofocus />
						<input type="password" placeholder="Password" name="password" type="password" value="" autofocus />
						<div class="remember">
						 <div class="forgot">
						 	<h6><a href="/dang-ky.html ">Đăng ký</a></h6>
						 </div>
						<div class="clear"> </div>
					  </div>
					   
						<input type="submit" value="LOGIN" style="background-color:#33CCFF">
					</form>	
				</div>
			  
			</div>
		</div>
</div>
</body>
</html>