
<% include layout/header.ejs %>
<style>
    body{
        padding: 10px;
      
       font-size: 16px;
    }

    .left{
        padding: 20px;
    }
    .tab1{
        font-size: 30px;
        width: 50%;
        height: 100%;
        line-height: 2;
        
    }
  #categorymenu {
    display: none !important;
  }
</style>
<div class="container">
    <div class="left">
         <h5>
            <b style= "font-size:20px">  I.Chuyển đổi:</b>
        </h5>
        Chuyển khoản ngân hàng là hình thức thanh toán nhanh nhất, an toàn nhất và thuận tiện nhất. Chỉ cần có tài khoản ngân hàng là bạn có thể thanh toán mọi lúc, mọi nơi.
            <br>
            <b style="color:red ; font-size:16px">Please note:</b>
            
            <br>
            * Tiền phải được chuyển từ tài khoản công ty của bạn sang tài khoản công ty của chúng tôi để hóa đơn có hiệu lực.
            <br>
            * Phải ghi nội dung chuyển khoản theo hướng dẫn.
    </div>
    <div class="left">
            <h5>
                <b style= "font-size:20px">II. Thanh toán tại nhà
                </b>

            </h5>

            <table>
                <tr>
                    <td>
                        Trong vòng 2-7 ngày làm việc, nhân viên giao hàng sẽ đến địa chỉ của bạn để giao hàng và thu tiền. Với hình thức thanh toán tại nhà, nhân viên sẽ đến địa chỉ ở phần Thông tin liên hệ bạn đã đăng ký ở bước trước để giao hàng và thu tiền. Bạn có thể kiểm tra kỹ thông tin sản phẩm đã đặt và thanh toán trực tiếp cho nhân viên giao hàng.
                        <br>
                        <b style="font-size: 16px">Những lưu ý khi thanh toán sản phẩm:</b>
                    </td>
                </tr>

                <tr >

                    <td>
                        -Sau khi đặt hàng thành công, chúng tôi sẽ gửi thông tin đơn hàng qua email hoặc qua tin nhắn quý khách cung cấp. Vui lòng kiểm tra kỹ thông tin về tên khách hàng, sản phẩm và các vấn đề liên quan khác. Bất kỳ thay đổi hoặc sai sót nào trong quá trình đặt hàng có thể dẫn đến phí bổ sung hoặc không được giao hàng, vì vậy vui lòng kiểm tra kỹ trước khi thanh toán.
                    </td>
                </tr>
                <br>
                <tr>

                    <td>
                        - Sản phẩm có thể yêu cầu thanh toán ngay hoặc có khoảng thời gian nhất định để yêu cầu thanh toán và tối đa 12h kể từ thời điểm đặt hàng, thời gian chính xác nhất sẽ được gửi đến email của bạn. ,Sau thời gian trên sản phẩm sẽ bị hủy và chúng tôi không chịu trách nhiệm nếu vé không được thanh toán sau thời hạn quy định.
                    </td>
                </tr>

                <tr >
                    <td>
                        - Sau khi thanh toán hoàn tất, vé điện tử sẽ được gửi qua email hoặc số điện thoại đã đăng ký. Vui lòng lưu lại thông tin để làm thủ tục cho hành khách trước chuyến bay. Nếu bị mất vé hoặc tin nhắn, bạn có thể liên hệ tới số nóng <b>0845503595</b> để nhận lại sản phẩm.
                    </td>
                </tr>

            </table>
    </div>
</div>
<% include layout/footer.ejs %>